@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== Open Sans Normal ===== */
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ===== Open Sans Italic ===== */
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../public/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* ===== Open Sans Condensed ===== */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ===== Open Sans Condensed Italic ===== */
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans Condensed';
  src: url('../public/fonts/OpenSans_Condensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

/* ===== Open Sans SemiCondensed ===== */
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* ===== Open Sans SemiCondensed Italic ===== */
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans SemiCondensed';
  src: url('../public/fonts/OpenSans_SemiCondensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


/* Estilo general: track transparente */
* {
  scrollbar-width: thin !important;
  scrollbar-color: #bbb transparent !important;
}

/* Solo Firefox: track con color distinto */
@supports (-moz-appearance: none) {
  * {
    scrollbar-color: #bbb #222 !important;
  }
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 5px !important;
  background: transparent !important;
}
*:focus::-webkit-scrollbar {
  background: #222 !important;
}
*::-webkit-scrollbar-track {
  background: transparent !important;
}
*:focus::-webkit-scrollbar-track {
  background: #222 !important;
}
*::-webkit-scrollbar-thumb {
  background: #bbb !important;
  border-radius: 8px !important;
  border: 2px solid transparent !important;
}
*:focus::-webkit-scrollbar-thumb {
  border: 2px solid #222 !important;
}
/* Elimina flechitas */
::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}


.bg-gradient-radial {
  background-image: radial-gradient(circle, rgba(0,0,0,0.8), transparent 100%);
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}

.slick-slider,
.slick-list,
.slick-track,
.slick-slide {
  z-index: 0 !important;
  position: relative;
}
